*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg, #f6d365, #fda085);
    color: wheat;
    font-family: "Poppins", sans-serif;
    /* min-height: 100vh; */
}

header{
    font-size: 1.2rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    background: white;
    border: none;
}

form input{
    transition: all 0.5s ease;
}

form button{
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #fda085;
    color: white;
}

form input:focus{
    outline: none;
}

.container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-height: 50vh;
    /* border: 2px solid red; */
    overflow-y: auto;
}

.ul-list{
    min-width: 20%;
    list-style: none;
    min-height: 50px;
}

.todo-div{
    margin: 0.5rem;
    background: white;
    color: black;
    display: flex;
    font-size: 1.3rem;
    /* border: 2px solid orange; */
    justify-content:space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo-div li{
    flex : 1;
}

.trash-btn, .complete-btn{
    padding: 0.5rem;
    color:white;
    font-size: 1.3rem;
    cursor: pointer;
    background: rgba(224, 36, 36, 0.5);
    border: none;
}

.complete-btn{
    background:#00b200;
}

.trash-btn{
    color: red;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed-div{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(50px) rotate(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    /* top:1rem; */
    /* border: 2px solid green; */
    border-radius: 15px;
}

select{
    color:#c93309d3;
    cursor: pointer;
    width: 8rem;
    font-size: inherit;
}

.select::after{
    content: "\25BC";
    /* border: 2px solid red; */
    position: absolute;
    right: 3px;
    color : red;
    pointer-events: none;
}

select option{
    text-align: center;
}